@charset "UTF-8";
body {
	font-family: 'Orienta', sans-serif;
	position: relative;
	padding:0;
	margin: 0;
}
.container {
	width:900px;
	margin: 0 auto;
	padding: 5px 0;
	border: none;
	position: relative;
}
#selectDep {
	padding: 0px 10px;
	height: 430px;
	visibility: hidden;
	display: block;
}
#headerDep {
	font-size: 17px;
	color: #464047;
}
#headerDep a{
	margin-top: -50px;
	margin-right: 30px;
	display: inline-block;
	float: right;
	position: relative;
}
#headerEnd hr {border: 2px solid #4B1152;}
.nav {
 
	font-family: 'Orienta', sans-serif; 
	font-weight: 400; /* 400 thinner */
	font-size: 16px;
	line-height: 13px;
	position: relative;
	padding: 0 0 0 4px; /* Fix for inline-block spacing*/
	margin: 0;
    background-color: #4B1152;
}


.nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:focus{
	color: black;
	text-decoration: none;
}


.nav > li {
	display: inline-block;
	text-align: center;
	margin-left: -4px; /* For the inline-block spacing */
}
.nav > li > a {
	padding:20px 18px;
	display: block;
}

.nav > li > ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:30px;
	background-color: #16a085;
	width: 200px;
	text-align: left;
	margin-top:30px;
	padding: 0px;
	z-index: 99;
}


.nav > li > .navAirports {
	opacity: 0;
	list-style: none;
	top: 53px;
	left: 15px;
	width: 100%;
	min-height: 100px;
	text-align: left;
	margin-top:30px;
	padding: 0;
	z-index: 99;
	overflow: hidden;
}

.nav .column {
	width: 16%;
	float: left;
	color: black;
	margin: 0 0 0 2.2%;
}

.nav .column ul {
	padding: 0;
	margin: 0;
}

.nav .column ul li {
	padding: 0;
	margin-left: 5px;
	list-style: none;
	font-size: 14px;
}

.nav .column h3 {
	font-size: 16px;
	color: #4B1152;
	padding: 14px 0;
	font-weight: bolder;
	margin: 5px 0 5px 0;
}

.nav .column ul li a {
	display: block;
	padding: 0 0 15px 0;
}

#selectArr {
	padding: 0px 10px;
	height: 430px;
	display: none;
}